.banner-background {
    background-image: url(../images/banner-images/MON-v2-a-gris.jpg);
    background-size: cover;
    height: 100vh;
    background-position: 50% 50%;
}


.social-icons {
    list-style: none;
}

h1 {
    margin-top: 20%;
    font-family: 'Open Sans', sans-serif, Arial, Helvetica;
    font-size: 50px;
    line-height: 50px;
    font-weight: 800;
    color: #fff;
}

h2 {
    font-size: 18px !important;
    margin-top: 5%;
    font-weight: 300 !important;
    font-family: 'Open Sans', sans-serif, Arial, Helvetica;
}

h3 {
    font-size: 18px !important;
    font-weight: 400 !important;
    font-family: 'Open Sans', sans-serif, Arial, Helvetica;
}


.dupla-container {
    margin-top: 200px !important;
    width: 500px;
}

.dulpa-title {
    font-weight: 800;
}

.wpp-button {
    font-size: 16px;
    color: #d2b356;
    text-decoration: none;
    border: 2px solid #d2b356;
    padding: 10px;
    font-weight: 700;
}

.wpp-button-large {
    font-size: 30px;
    color: #d2b356;
    text-decoration: none;
    border: 4px solid #d2b356;
    padding: 10px 40px;
    font-weight: 600;
}

.wpp-button:hover,
.wpp-button-large:hover {
    color: #d2b356;
    border-color: #FFF;
}

.dupla-container h2:after,
.dupla-container h1:before {
    background: #d2b356;
    content: "";
    display: block;
    width: 30px;
    height: 5px;
    margin-top: 15px;
    margin-bottom: 15px;
}

.good-idea {
    line-height: 0.7;
}

.buena,
.idea {
    font-size: 350px;
}

.una,
.sostiene-todo {
    font-size: 150px;
}

.clients-container {
    padding: 10px;
    border-bottom: 1px solid lightgray;
}

.clients-image {
    margin-right: 40px;
    /* width: 90px; */
    width: 160px;
}

.mail-link {
    color: #d2b356;
    text-decoration: none;
}

.mail-link:hover {
    color: #FFF;
}

.font-small {
    font-size: 12px;
}

.country-icons {
    width: 30px;
}

#banner-logo {
    width: 150px;
}

.social-icons {
    font-size: 20px;
}




.standar-font {
    font-size: 24px;
}


.carousel-inner .carousel-item.active,
.carousel-inner .carousel-item-start,
.carousel-inner .carousel-item-next,
.carousel-inner .carousel-item-prev {
    display: flex;
}

@media (min-width: 768px) {

    .carousel-inner .carousel-item-right.active,
    .carousel-inner .carousel-item-next,
    .carousel-item-next:not(.carousel-item-start) {
        transform: translateX(25%) !important;
    }

    .carousel-inner .carousel-item-left.active,
    .carousel-item-prev:not(.carousel-item-end),
    .active.carousel-item-start,
    .carousel-item-prev:not(.carousel-item-end) {
        transform: translateX(-25%) !important;
    }

    .carousel-item-next.carousel-item-start,
    .active.carousel-item-end {
        transform: translateX(0) !important;
    }

    .carousel-inner .carousel-item-prev,
    .carousel-item-prev:not(.carousel-item-end) {
        transform: translateX(-25%) !important;
    }
}

.card-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    line-height: 0.8;
    font-size: 12px;
}

footer {
    background-color: #212121;
}

.carousel-control-prev {
    padding-right: 150px !important;
}

.carousel-control-next {
    padding-left: 150px !important;
}

.carousel-control-prev-icon {
    background-image: url("../images/vectors/arrow_back_black.svg") !important;
}

.carousel-control-next-icon {
    background-image: url("../images/vectors/arrow_foward_black.svg") !important;
}

.working {
    font-size: 40px;
}

.first-inventions {
    font-size: 30px;
}

.logo-mon {
    width: 300px;
}

.standar-width {
    width: 75%;
}

.video {
    height: 700px;
}

@media (max-width: 1500px) {
    .dupla-container {
        margin-top: 0px !important;
    }

    .good-idea {
        line-height: 0.8;
    }

    .buena,
    .idea {
        font-size: 300px;
    }

    .una,
    .sostiene-todo {
        font-size: 100px;
    }

    .clients-image {
        width: 100px;
    }

    .first-inventions {
        font-size: 18px;
    }

    /* .logo-mon {
        width: 150px;

    } */
}

@media (min-width: 1200px) and (max-width: 1350px) {
    .clients-container {
        display: flex;
        justify-content: center;
    }

    .clients-image {
        width: 90px;
    }
}

@media(max-width: 1200px) {

    .buena,
    .idea {
        font-size: 150px;
    }

    .una,
    .sostiene-todo {
        font-size: 80px;
    }

    .banner-background {
        background-size: cover;
        /* Ajusta el tamaño de la imagen de fondo */
        background-position: right;
        background-position: 85% center;
    }


}

@media (max-width: 768px) {

    .carousel-inner .carousel-item>div {
        display: none;
    }

    .carousel-inner .carousel-item>div:first-child {
        display: block;
    }

    .country-icons {
        width: 20px;
    }

    #banner-logo {
        width: 100px;
    }

    .social-icons {
        font-size: 15px;
    }

    .dupla-container {
        width: fit-content;
    }

    .dupla-subtitle {
        font-size: 18px !important;
    }

    .first-inventions {
        padding-top: 30px !important;
    }

    .buena,
    .idea {
        font-size: 150px;
    }

    .una,
    .sostiene-todo {
        font-size: 60px;
    }

    .working {
        font-size: 30px;
    }

    .clients-container {
        border-bottom: none;
    }

    .carousel-control-prev {
        padding-right: 0px !important;
    }

    .carousel-control-next {
        padding-left: 0px !important;
    }

    .standar-width {
        width: 90%;
    }

    .video {
        height: 500px;
    }

    .standar-font {
        font-size: 20px;
    }

    .wpp-button-large {
        font-size: 20px;
        padding: 5px 30px;
    }






}

@media (max-width: 550px) {

    .buena,
    .idea {
        font-size: 80px;
    }

    .una,
    .sostiene-todo {
        font-size: 40px;
    }
}

@media (max-width: 1200px) {
    .banner-background {
        background-size: cover;
        /* Ajusta el tamaño de la imagen de fondo */
        background-position: right;
        background-position: 85% center;
    }

    #header {
        z-index: 10;
    }

    .container-principal {
        z-index: 10;
    }

    .overlay {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.589);
        height: 100vh;

    }
}